table {
    table-layout: fixed;
    display: block;
    height: 50px;
    width: 1250px;
    overflow-y:scroll;
}

.coupon_type_class{
    border:2px solid #ccc; 
    width:300px; 
    height: 80px; 
    overflow-y: scroll;
}

.store_class { 
    border:2px solid #ccc; 
    width:300px; 
    height: 100px; 
    overflow-y: scroll; 
}
.category_class{
    border:2px solid #ccc; 
    width:300px; 
    height: 100px; 
    overflow-y: scroll;    
}
.subcategory_class
{
    border:2px solid #ccc; 
    width:300px; 
    height: 100px; 
    overflow-y: scroll;   
}